*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest*.toml
/docs/Manifest*.toml
/docs/build/
/scripts/Manifest*.toml
/scripts/*.mp4
/scripts/*.gif
/scripts/*.png
# Benchmark output written by scripts/run_bp8.jl — regenerable, ~100 MB
/output/
